.bubblehead {
	max-width: 100%;
	border-radius: 50%;
}

.carousel-caption.carousel-text {
	padding: 20px;
}

img.slider-pics {
	overflow: hidden;
}

.project-clipping {
	padding-bottom: 30px;
}

.about-section {
	padding: 20px 0;
}

.toolbox-photos {
	padding: 5px;
	margin: 10px;
}