.bubblehead {
	max-width: 100%;
	border-radius: 50%;
}


.navbar {
  margin-bottom: 0;
}

li {
  margin-left: 30px;
}

.resume.row {
  padding: 30px;
  margin-bottom: 40px;
}


#headshot {
  background-image: url('../assets/images/about/headshot1.jpg');
  height: 310px;
  width: 330px;
  background-size: cover;
  background-position-y: 40%;
  float: left;
  margin: 0 20px 20px 0;
}

.front-page {
  background-image: url('../assets/images/home/mountains-header2.jpg');
  background-repeat: no-repeat;
  background-position-x: 50%;
  width: 1200;
  padding: 30px;
}


footer {
  padding-top: 40px;
}
