.container {
  margin-top: 40px;
}

h2 {
  color: #0AD;
}

h1 {
  color: #0066AA;
}

h3 {
  color: slategray;
}

.pubDate {
  color: #0a4c86;
  font-weight: 400;
}

.bubblehead {
	width: 65px;
  height: 65px;
	border-radius: 50%;
  margin-bottom: 0;
}

.me {
  width: 150px;
  height: 150px;
}

.blog-post {
  padding: 30px;
}

.job .title {
  margin: 40px 0 5px 0;
  color: #162338;
}

.employer {
  margin-top: 30px;
  color: #162338;
  font-weight: 600;
}

.resume .technologies {
  font-style: italic;
  margin: 0 10px 0 0;
  color: gray;
}

.project {
  height: 120px;
  margin-right: 75px;
}

.thumbnail {
  margin-right: 10px;
  width: 170px;
}


#skills ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1.0rem;
}

#skills li {
  margin: 5px 0 7px 7px;
  display: inline;
}

#skills > span {
  font-weight: bold;
}

section li {
  margin: 15px;
}

header li {
  list-style: none;
  font-weight: bolder;
}

header a {
  text-decoration: none
}

#headshot {
  background-image: url('../assets/images/about/headshot1.jpg');
  height: 310px;
  width: 330px;
  background-size: cover;
  background-position-y: 40%;
  float: left;
  margin: 0 20px 20px 0;
}

.front-page {
  background-image: url('../assets/images/home/mountains-header2.jpg');
  background-repeat: no-repeat;
  background-position-x: 50%;
  width: 900;
  height: 300px;
  padding: 30px;
}


footer {
  padding-top: 40px;
}
