<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Ashley Drake | Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">



    <!-- Custom styles for this template -->
    
    <link href="css/journal.bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
 <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">Ashley Drake</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="projects.html">Projects</a></li>
                <li><a href="tools.html">Toolset</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="about.html#contact">Contact</a></li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Links I love <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Free Code Camp</a></li>
                    <!--<li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>-->
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

<!-- Begin Body -->
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              	
  				<div class="well"> 
            	<ul class="nav nav-stacked" id="sidebar">
                <li><a href="#fun-tools">Fun Tools</a></li>
                <li><a href="#preferences">Preferences</a></li>
                <li><a href="#katas">Code Katas</a></li>
            	</ul>
  			  </div>

    		</div>  

        <!-- main body -->
    		<div class="col-md-9" ng-app="ToolsApp">
          <h1>Toolbox</h1>
            <div ng-controller="BricksCtrl">
              <h3>Angular</h3>
                <div class="panel">
                  <span class="col-md-12 expandable"><h4>Masonry</h4></span>
                  <div class="collapse">
                    <p><a href="https://github.com/passy/angular-masonry">Masonry</a> displays images like bricks, interlocking pieces and sorting by size. It works really well with dynamic interfaces that may fetch pictures that are not of equal sizes/shapes.</p>
                    <div class="btn-group btn-group-lg" style="{margin: 0 auto;}">
                      <button class="btn btn-primary" ng-click="add()">get another one</button>
                      <button class="btn btn-secondary" ng-click="remove()">take one off</button>
                    </div>
                    <div class="col-md-12">
                      <div masonry>
                        <div class="masonry-brick" ng-repeat="brick in bricks" column-width="100">
                          <img ng-src="{{brick.src}}" class="thumbnail toolbox-photos">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
    		</div> 
  	</div>

     <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Ashley Drake &middot; <a href="#">Contact</a> &middot; <a href="#">Terms</a></p>
      </footer>
</div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script>
    $('.expandable').on('click', function() {
      $(this).next('div').toggleClass('collapse');
    });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script src="bower_components/get-style-property/get-style-property.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/doc-ready/doc-ready.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/matches-selector/matches-selector.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/angular-masonry/angular-masonry.js"></script>
    <script src="js/app.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="js/docs.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>


