/* 
    Created on : Jan 19, 2015, 2:26:13 PM
    Author     : aldraco email a(dot)l(dot)drake713(at)gmail(dot)com
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==================================
Custom Styles
===================================*/

body {
    font-family: 'Lora', serif;
}

/*  ======= TYPOGRAPHY ========== */

h1 {
    font-size: 36px;
    padding-bottom: 20px;
    color: #0086B2;
}
h4 {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
}

h5 {
    text-transform: uppercase;
}
p {
    padding: 10px 0;
}

em {
    font-weight: 600;
}

/* ==================================
Links
===================================*/

a {
    text-decoration: none;
    color: inherit;
}

.sidebar a:hover {
    text-shadow: #94E5FF 2px 2px 2px;
}

/* ==================================
Grid and Layout
===================================*/

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
}

.sidebar {
    width: 26.6%;       /* 250/940 px */
    float: left;
    margin: 0 0 2.13% 2.13%;
}

.col-1-3, .col-2-3 {
    box-sizing: border-box;
    padding: 30px;
}

.col-2-3 {
    width: 66.66666%;
    float: left;
    margin-top: 20px;
}.col-1-3 {
    width: 33.33333%;
    float: right;
}

.bubblehead {
    border-radius: 50%;
    background: white;
    background-image: url(../images/home/profile_headshot.jpeg);
    background-size: 150%;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    background-position-x: -45px;
    margin: 0 auto 20px auto;
}

.main-title {
    font-family: 'Monoton', cursive;
    border-bottom: 3px solid gray;
    text-align: right;
    width: 95.74%;
    margin: 2.13%;
    padding: 3.39%;
    box-sizing: border-box;
}
.main-title h1 {
    font-size: 75px;
}

.banner {
    padding: 20px;
    margin: 0 auto 0 auto;
    display: block;
    font-size: 1.5em;
}


.main-content {
    margin-left: 30.85%%;        /*290 px/940px*/
    width: 67.02%;
    padding: 0 3.39%;      /*20px padding*/
    box-sizing: border-box;
}

.footer {
    border: 1px dotted gray;
    width: 67.02%;
    margin-left: 30.85%;
    /*TODO: get the footer to stick to the bottom*/
}

/* ==================================
Page Design/Styling
===================================*/
.main-title h1 {
    color: #0086B2;
    text-shadow: #94E5FF 2px 2px 2px;
}

ul li {
    padding: 10px;
}

/* ==================================
project cards
===================================*/
.project-card {
    width: 100%;
    height: 350px;
    box-shadow: 3px 3px 4px 3px rgba(0,0,0,.3);
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin: 10px;
    background: gray;
    
}

.project-card h1 {
    font-size:24px;
    color: purple;
    padding: 10px;
}

.project-card h5 {
    font-size: 16px;
    color: purple;
    text-transform: uppercase;
}

.project-card p {
    background: rgba(0,0,0,.3);
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.7) 90%, rgba(0,0,0,.3));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.7) 90%, rgba(0,0,0,.3));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.7) 90%, rgba(0,0,0,.3));
    display: block;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
    border-radius: 10px;
    transition: max-height .7s;
    -webkit-transition: max-height .7s;
    -moz-transition: max-height .7s;
    width: 100%;
    max-height: 4em;
    line-height: 1.6em;
    box-sizing: border-box;
}

.project-card small {
    opacity: 0;
}


.show-description p {
    max-height: 300px;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.7) 90%, rgba(0,0,0,.5));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.7) 90%, rgba(0,0,0,.5));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.7) 90%, rgba(0,0,0,.5));
    line-height: 1.3em;
    font-size: .9em;
    padding: 10px;
}

.show-description small {
    opacity: 1;
    line-height: 1em;
    padding-top: 20px;
}
.show-description em {
    text-decoration: underline;
    font-size: 1.3em;
    padding-bottom: 10px;
    display: inline-block;
}



/* ==================================
project card background images/id
===================================*/
#east-brookfield {
    background-image: url('../images/home/east-brookfield-cover.png');
    background-size: cover;
}

/* ==================================
skill description
===================================*/

#skill-description-area {
    position: relative;
}

.skill-description {
    position: absolute;
    opacity: 0;
}

.describe-skill {
    opacity: 1;
}

/* ==================================
navigation
===================================*/

.main-nav ul li {
    text-align: center;
    text-transform: uppercase;
    padding: 40px 20px;
    border-bottom: 1px solid black ;
}
ul li:last-child {
    border-bottom: none;
    margin-bottom: 50px;
}

/* ==================================
Clearfix
===================================*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/* ==================================
Media Queries
===================================*/

@media screen and (max-width: 480px) {              /*iPhone landscape mode, fluid design scales to portrait*/
    .sidebar {
        float: none;
        width: inherit;
        margin: 2.13% auto;

    }
    .sidebar ul li {
        text-align: center;
        padding: 10px;
        border-top: 1px solid green;
        margin: 0 auto;
    }
    .main-content, .main-title, .footer, .project-card {
        float: none;
        width: inherit;
        margin: 0 auto;

    }
    .project-card {
        width: 100%;
        margin-bottom: 20px;

    }
    .blurb {
        height: 0;
        opacity: 0;
    }
}